<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="~{component/config :: config}"></th:block>
</head>
<body>
<div th:replace="~{component/header :: header}"></div>
<div th:replace="~{component/nav :: nav}"></div>

<div class="container">
  <!-- 화면에 보여질 내용이 들어갈 부분 -->
  <form action="/board/save" method="post" enctype="multipart/form-data">
    <input type="text" name="boardWriter" th:value="${session.loginEmail}" readonly>
    <input type="text" name="boardTitle" placeholder="제목">
    <textarea name="boardContents" placeholder="내용을 입력하세요"></textarea>
    <input type="submit" value="등록">
  </form>
</div>
<div th:replace="~{component/footer :: footer}"></div>
</body>
</html>